/* COLORS
#24292e
#586069
#0366d6
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  color: #24292e;
}

main {
  margin: 0 auto;
  max-width: 980px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg {
  display: inline-block;
}

/* Header Component ------------------------------- */
.Header {
  color: #ffffff;
  background-color: #24292e;
  height: 60px;

  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.Header svg {
  display: block;
}

.Header label {
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 3px;
  width: 20em;
  padding-right: 10px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header input {
  background-color: #ffffff00;
  line-height: 30px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 0 10px;
}

.Header input:focus {
  background-color: #fafbfc;
}

.Header a {
  color: inherit;
  text-decoration: none;
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
}

.Header a:hover,
.Header a:active {
  color: rgba(255, 255, 255, 0.7);
}

/* Notice ----------------------------------------- */

.Notice {
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  height: 145px;
  padding: 1.8rem;
  margin-bottom: 20px;
}

.Notice h3 {
  margin-bottom: 8px;
}

.highlight.green {
  background-color: #6ce26a;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 15px;
  padding: 0.15em 4px;
  text-align: text-top;
}

/* LandingPage ------------------------------------ */
.LandingPage {
  display: flex;
  justify-content: center;
}

.LandingPage button {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
}
.LandingPage button:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.35);
}

.LandingPage button:active {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

/* Issues Page ------------------------------------ */
.IssuesPage {
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}

.IssuesPage header {
  background-color: #f6f8fa;
  border-bottom: 1px solid #e1e4e8;
  padding: 1rem;
}

.IssuesPage h3 {
  display: flex;
  align-items: center;
}

.IssuesPage h3 svg {
  margin-right: 12px;
}

/* Issue Card ------------------------------------- */
.IssueCard {
  display: flex;
}

.IssueCard .state-box {
  width: 2rem;
  padding: 14px 0 0 15px;
}

.IssueCard .card-info {
  padding: 10px;
  flex-grow: 2;
}

.IssueCard .card-info div {
  width: 75%;
}

.IssueCard .card-info h3 {
  display: inline;
}

.IssueCard a {
  color: inherit;
}

.IssueCard a:hover {
  color: #0366d6;
  text-decoration: none;
}

.IssueCard .issue-label {
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 15px;
  padding: 0.15em 4px;
  margin: 0 3px;
  display: inline-block;
}

.IssueCard .info-text {
  color: #586069;
}

.IssueCard .comment-box {
  margin-left: auto;
  padding: 14px 20px 0 0;
  display: flex;
  justify-content: center;
}

.IssueCard .comment-box span {
  vertical-align: top;
  line-height: 14px;
  padding-left: 5px;
}

.state-box svg path {
  fill: #28a745;
}

/* Issue Show ------------------------------------- */
.IssueShow h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: 0;
  margin-right: 150px;
  word-wrap: break-word;
}

.IssueShow header {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6ebf1;
}

.IssueShow header p {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.IssueShow header a {
  color: inherit;
}

.IssueShow header a:hover {
  color: #0366d6;
}

.IssueShow .issue-number {
  color: #a3aab1;
  font-weight: 400;
  letter-spacing: -1px;
}

.IssueShow .state {
  background-color: #2cbe4e;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 8px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.IssueShow .state svg {
  margin-right: 5px;
}

/* Issue Content */

.IssueShow .issue {
  display: flex;
}

.IssueShow .image-box {
  margin-right: 20px;
}

.IssueShow .image-box img {
  width: 45px;
  height: 45px;
  border-radius: 3px;
}

.IssueShow .issue-content {
  width: 71%;
  border: 1px solid #d1d5da;
  border-radius: 4px;
}

.IssueShow .header {
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
  height: 44px;
  padding: 10px;
}

.IssueShow .header a {
  color: inherit;
}

.IssueShow .issue-body {
  padding: 15px;
}
.IssueShow .issue-body *:not(:last-child) {
  margin-bottom: 16px;
}

.IssueShow .issue-body pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.IssueShow .issue-body hr {
  background-color: #e1e4e8;
  border: 0;
  height: 0.25em;
  margin: 24px 0;
  padding: 0;
}

/* sidebar */
.IssueShow .sidebar {
  width: 200px;
  margin-left: auto;
}

.IssueShow .sidebar h4 {
  color: #586069;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.IssueShow .sidebar .issue-label {
  color: #000000;
  margin-top: 3px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 15px;
  padding: 0.15em 4px;
}
